ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
li{
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
}
div{
    width: 3rem;
    display: inline-block;
    height: 3rem;
    border: solid black 1px;
    padding: 1rem;
    margin: 2.5px 1.2px;
    box-sizing: border-box;
}